<%- include("partials/header"); %>

    <!-- =========================================================================CONTAINER -->
    <div class="container-making-form align-items-center min-vh-100">
        <div class="row g-0 justify-content-center">
            <!-- ======================================================================================TITLE -->
            <div class="col-lg-4 offset-lg-1 mx-0 px-0">
                <div id="title-container">
                    <!-- <img class="bg-title" src="img/background.jpg" alt=""> -->
                    <img class="logo-image" src="">
                    <h2>MAKING APPOINTMENT</h2>
                    <p>
                        Our mission is to assist you in completing
                        online medical registration regardless of your location.
                    </p>
                    <div class="step-container">
                        <div class="vertical-line"></div>
                        <div class="circle-container">
                            <div class="circle"></div>
                            <div class="line">Step 1: Select A Medical Profile</div>
                        </div>
                        <div class="circle-container">
                            <div class="circle"></div>
                            <div class="line">Step 2: Select A Hospital</div>
                        </div>
                        <div class="circle-container">
                            <div class="circle"></div>
                            <div class="line">Step 3: Select A Specialist</div>
                        </div>
                        <div class="circle-container">
                            <div class="circle"></div>
                            <div class="line">Step 4: Select A Doctor</div>
                        </div>
                        <div class="circle-container">
                            <div class="circle"></div>
                            <div class="line">Step 5: Select A Date For Appointment</div>
                        </div>
                        <div class="circle-container">
                            <div class="circle"></div>
                            <div class="line">Step 6: Confirm The Registration Form</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ======================================================================================FORMS -->
            <div class="col-lg-7 mx-0 px-0">
                <div class="progress">
                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="50"
                        class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                        style="width: 0%; background-color: #154763;"></div>
                </div>
                <div id="qbox-container">
                    <div>
                        <div id="steps-container">
                            <!-- ========================================================STEP 1: SELECT PROFILE -->
                            <div class="step">
                                
                            </div>
                            <!-- ========================================================STEP 2: SELECT HOSPITAL -->
                            <div class="step">
                                
                            </div>
                            <!-- ========================================================STEP 3: SELECT SPECIALIST -->
                            <div class="step">
                                
                            </div>
                            <!-- ========================================================STEP 4: SELECT DOCTOR -->
                            <div class="step">
                                
                            </div>
                        
                            <!-- ========================================================STEP 5: SELECT DATE -->
                            <div class="step">
                                
                            </div>

                            <!-- ========================================================STEP 6: CONFIRMATION -->
                            <div class="step">
                                
                            </div>
                        </div>
                        <div>
                            <ul>
                                <% dentists.forEach((dentist) => {%>
                                    <%= dentist.FULL_NAME %> <br>
                                <% }) %> 
                            </ul>
                        </div>
                        <div id="q-box__buttons">
                            <a href="http://localhost:9696/appointment">Clinic</a>
                            <a href="http://localhost:9696/appointment/treatments">Treatment</a>
                            <a href="http://localhost:9696/appointment/dentists">Dentist</a>
                            <a href="http://localhost:9696/appointment/finish">Submit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <script type="text/javascript" src="../public/js/makingAppoint.js"></script> -->
