<%- include("partials/header"); %>
    <style>
        .card {
            display: none;
        }

        .card.active {
            display: block;
        }
    </style>

    <div class="container-making-form align-items-center min-vh-100">
        <div class="row g-0 justify-content-center">
            <div class="col-lg-4 offset-lg-1 mx-0 px-0">
                <div id="title-container">
                    <img class="logo-image" src="">
                    <h2>MAKING APPOINTMENT</h2>
                    <form data-multi-step>
                        <div class="card" data-step>
                            <label for="Clinic">Clinic</label><br>
                            <% clinics.forEach((clinic) => { %>
                                <input type="radio" name="clinic" id="clinic-branch">
                                <label for="clinic-branch"><%= clinic %></label><br>
                            <% }) %>
                            <button type="button" data-next>Next</button>
                        </div>
                        <div class="card" data-step>
                            <label for="Schedule">Schedule</label><br>
                            <input type="date" name="appointment-date" id="appointment-date"><br>
                            <button type="button" data-previous>Previous</button>
                            <button type="button" data-next>Next</button>
                        </div>
                        <div class="card" data-step>
                            <label for="Dentist">Dentist</label><br>
                            <% dentists.forEach((dentist) => { %>
                                <input type="radio" name="dentist" id="dentist">
                                <label for="dentist"><%= dentist.FULL_NAME %></label><br>
                            <% }) %>
                            <button type="button" data-previous>Previous</button>
                            <button type="button" data-next>Next</button>
                        </div>
                        <div class="card" data-step>
                            <label for="Treatment">Treatment</label><br>
                            <% treatments.forEach((treatment) => { %>
                                <input type="radio" name="treatment" id="treatment">
                                <label for="treatment"><%= treatment %></label><br>
                            <% }) %>
                            <button type="button" data-previous>Previous</button>
                            <input type="submit" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        const multiStepForm = document.querySelector("[data-multi-step]")
        const formSteps = [...multiStepForm.querySelectorAll("[data-step]")]
        let currentStep = formSteps.findIndex(step => {
            return step.classList.contains("active")
        })

        if (currentStep < 0) {
            currentStep = 0
            showCurrentStep()
        }

        multiStepForm.addEventListener("click", e => {
            if (e.target.matches("[data-next]")) {
                currentStep += 1
            } else if (e.target.matches("[data-previous]")) {
                currentStep -= 1
            }

            showCurrentStep()
        })

        function showCurrentStep() {
            formSteps.forEach((step, index) => {
                step.classList.toggle("active", index === currentStep)
            })
        }
    </script>